body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}

h1{
    font-size: 50px;
    margin-bottom: 10px;
}

p{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.pressed{
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transform: scale(0.95);
    background-color: transparent;
}

.outer-div{
    border: 5px solid gold;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inner-div{
    height: 170px;
    width: 270px;
    margin: 10px;
    /* display: inline-block; */
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border: 2px solid black;
    cursor: pointer;
};
